

<div class="row">
  <div class="col s12">
    <span><h1>Results for: {{searchTerm}}</h1></span><span *ngIf="searchList.length > 0">{{searchList.length}} Results Found.</span>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <button (click)="goBack()" class="waves-effect waves-light btn btn-large">Go Back</button>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <ul class="repos">
      <li *ngFor="let repo of searchList">
        <p class="" (click)="detailsView(repo)">{{repo.title}}</p>
      </li>
    </ul>

    <div *ngIf="searchList.length === 0">
      No Matches found for <strong><em>{{searchTerm}}</em></strong>
    </div>

  </div>
</div>

