

<div class="row">
  <div class="col s12">
    <span><h1>Saved Repos </h1></span><span *ngIf="savedFavorites.length > 0">{{savedFavorites.length}} Repos Found.</span>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <button (click)="goBack()" class="waves-effect waves-light btn btn-large">Go Back</button>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <ul class="repos">
      <li *ngFor="let repo of savedFavorites">
        <p class="" (click)="detailsView(repo)">{{repo.title}}</p>
        <p class="" (click)="remove(repo)">Delete</p>
      </li>
    </ul>

    <div *ngIf="savedFavorites.length === 0">
      No Saved Repos.
    </div>

  </div>
</div>

