

.categoryLink {
  color: #43a047;
  cursor:pointer;
  transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
}

.categoryLink:hover {
  color: orange;
}
