

<div class="row">
  <div class="col s12">
    <span><h1>Results for: {{searchTerm}}</h1></span><span *ngIf="searchList.length > 0">{{searchList.length}} Results Found.</span>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <button (click)="goBack()" class="waves-effect waves-light btn amber darken-2"><i class="fa fa-arrow-left"></i> Go Back</button>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <div class="repos">
      <div class="col s12 m4 l3" *ngFor="let repo of searchList">
        <div class="card hoverable left-align">
          <div class="card-content">
            <span class="card-title truncate" (click)="detailsView(repo)">{{repo.title}}</span>
            <p class="" [innerHTML]="repo.description | truncate : 100"></p>
          </div>
          <div class="card-action">
            <a (click)="detailsView(repo)">Details</a>
            <a href="{{repo.link}}" target="_blank">Website</a>
            <a (click)="saveRepo(repo)"><i class="material-icons plus">add</i></a>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="searchList.length === 0" class="centerScreen">
      No Matches found for <strong><em>{{searchTerm}}</em></strong>
    </div>
  </div>
</div>

